.word-list-container {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 0.5%;
  width: 50%;
  max-height: 400px;
  font-size: 1.6rem;
  border: 8px solid lightblue;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

