.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin: 1%;
  width: 25%;
  font-size: 1.5em;
}

.btn-start {
  margin: 10%;
}

.success {
  color: lightgreen;
}

.wrong {
  color: lightcoral;
}
